<!DOCTYPE html>
<html>
<head>
  <title>Power client</title>
  <%= stylesheet_link_tag    "power_client/application", media: "all" %>
  <%= javascript_include_tag "power_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
